<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<title>Insert title here</title>
</head>
<body>

	<header th:insert="blocks/header :: header"></header>
	
			<div class="container">
		<form action="/genres/search" method="post" class="form-group">
			<label for="search">Введите название жанра</label>
			<br/>
			<input id="search" name="name" type="text" placeholder="Введите название" class="form-control">
			<br/>
			<button type="submit" class="btn btn-warning">Найти</button>
			<br/>
			<br/>
			<br/>
		</form>
	</div>
		<div class="container-fluid d-flex h-100 justify-content-center align-items-center"><a href="genre_add" class="btn btn-dark">Добавить жанр</a><br/><br/><br/></div>
	<main role="main" class="container" th:each="genre : ${genres}">
  <div class="jumbotron">
    <p class="lead" th:text="${genre.name}"></p>
    <a class="btn btn-lg btn-primary" th:href="'/genre/' + ${genre.id} + '/edit'" role="button">Редактировать</a>
  </div>
	</main>
	
	<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>